<% posts.forEach(post => { %>
    <article>
        <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
        <p><%= post.content %></p>
        <p><small>By<%= post.author %> on <%= post.date %></small></p>
        <p><%= post.content.substring(0, 100) %>...</p>
        </article>
<% }) %>